@require './theme.styl'
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

[v-cloak]
  display: none

html, body
  font-family: 'Nanum Square', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Hevetica Neue", sans-serif

.sr-only
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

a
  text-decoration: none

.toolbar__content__width
  margin: 0 auto
  @media (min-width: 1265px) and (max-width: 1904px)
    max-width: 1120px + 40px !important
  @media (min-width: 1905px)
    max-width: 1440px + 45px !important


.search__container
  & .arrow, & .btn__option
    & .btn__content
      &:before
        display: none
    & .ripple__container
      display: none