main
  opacity: 0
  transition: opacity .1s linear

.toolbar
  opacity: 0

.search
  & .arrow, & .option
    & .btn__content
      &:before
        display: none
    & .ripple__container
      display: none

.text--bold
  font-weight: bold

.loading
  position: fixed
  z-index: 99
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: transparent
  display: flex
  justify-content: center
  align-items: center
  & .progress-circular__overlay
    color: #1565C0