main
  opacity: 0
  transition: opacity .1s linear

.toolbar
  opacity: 0

.search
  & .arrow, & .option
    & .btn__content
      &:before
        display: none
    & .ripple__container
      display: none

.text--bold
  font-weight: bold