// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #29B6F6
  accent: #1565C0
  secondary: #616161
  info: #0D47A1
  warning: #ffb300
  error: #F66A29
  success: #2E7D32
}